body {
    background-color: #F5F7FB;
    font-family: "Karla", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

main {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding: 1em;
}